<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Jackson Dearing</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Additional CSS Files -->
    <script src="https://use.fontawesome.com/d52a47e7a1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}">
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="author-content">
              <h4>Jackson Dearing</h4>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">Home</a></li>
                <li><a href="#section2">Education</a></li>
                <li><a href="#section3">Experience</a></li>
                <li><a href="#section4">Projects</a></li>
                <li><a href="#section5">Volunteering</a></li>
                <li><a href="#section6">Contact</a></li>
              </ul>
            </nav>

            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://github.com/jacksondearing96" target="_blank"><i class="fa fa-github"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/jackson-dearing-2806a716a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
          <div id="top-heading" class="section-heading">
            <h2>Jackson Dearing</h2>
            <div class="line-dec"></div>
            <span>
            Mathematics and Computer Science student motivated by a passion for problem solving and software development. I enjoy contributing in high performing teams and building effective solutions to real world problems.
            </span>
          </div>

        </div>
      </section>

      <section class="section technical-skills">

        <div id="skills-icons">
          <div class="section-heading">
            <h2>Technical Skills</h2>
            <div class="line-dec"></div>
          </div>
        <img alt="C++" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png" style="width:50px;">  <img alt="JavaScript" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png" style="width:50px;">  

        <img alt="Java" src="static/images/java.png" style="width:50px;">     

        <img alt="C" src="https://cdn.iconscout.com/icon/free/png-512/c-programming-569564.png" style="width:60px;"> 

        <img alt="Python" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" style="width:50px;">  <img alt="Node.js" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/nodejs/nodejs.png" style="width:50px;"> <img alt="HTML5" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/html/html.png" style="width:55px;"> <img alt="CSS3" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/css/css.png" style="width:55px;"> <img alt="MySQL" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/mysql/mysql.png" style="width:45px;"> 

        <img alt="git" style="width:50px" src="https://i.pinimg.com/originals/01/e5/00/01e500fca29c045d432b64f285f9c229.png">

        <img alt="Subversion" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Subversion_Logo.svg/1200px-Subversion_Logo.svg.png" style="width:60px;">  <img alt="GitHub" src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Github-512.png" style="width:45px;">


        <!-- Prepare a container for your calendar. -->

        <div id="github-contributions">
        <script
          src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"
        >
        </script>

        <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
        <link
          rel="stylesheet"
          href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"
        />

        <div class="calendar">
        </div>

        <script>
            new GitHubCalendar(".calendar", "jacksondearing96");
        </script>
        </div>
        </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>Education</h2>
            <div class="line-dec"></div>

          </div>

          <div class="row align-items-center text-center">
  
            <!-- MEDIUM SCREEN -->
            <div class="col-md-3">
                <img id="first-company-logo" class="company-logo clear left-small-right-big" src="static/images/trinity-logo.png">
                <h3 class="clear left-small-right-big">Trinity College</h3>
                <p class="clear left-small-right-big">
                    SACE Stage I and II
                    <br>2002 - 2014
                </p>
            </div>
  
            <div class="col-md-3">
                <p>ATAR: 99.95</p>
            </div>
            <div class="achievement-list col-md-6 divider-left-big-bottom-small">
                <ul class="left">
                    <li>Iacopetta Shield - Dux of Trinity College</li>
                    <li>Australian Student Prize</li>
                    <li>AON Insurance Scholarship</li>
                    <li>RACI Medal for Excellence in Chemistry</li>
                    <li>AIP Award for Physics</li>
                    <li>First XI Cricket Captain</li>
                    <li>First XVIII Football Vice Captain</li>
                </ul>
            </div>
  
            <div class="col-md-3">
                <img class="company-logo left-small-right-big" src="static/images/adelaide-uni-logo.png">
                <br>
                <h3 class="clear left-small-right-big">University of Adelaide</h3>
                <br>
                <p class="clear left-small-right-big">Bachelor of Mathematical and Computer Sciences
                    <br>2015 - present</p>
            </div>
            <div class="col-md-3">
                <p>GPA: 7.000</p>
            </div>
            <div class="achievement-list col-md-6 divider-left-big-bottom-small">
                <ul class="left">
                    <li>Adelaide University Undergraduate Scholarship</li>
                    <li>Executive Dean's Award for Academic Excellence</li>
                    <li>Mabel Tapp Prize for Mathematics</li>
                    <li>SPE SA Chapter Scholarship</li>
                    <li>B.E.H(Pe) Dux, 1st, 3rd Years</li>
                    <li>Brian Daily Prize</li>
                </ul>
            </div>
  
        </div>

        </div>
      </section>

      <section class="section experience" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>Experience</h2>
            <div class="line-dec"></div>
          </div>


      <div class="row align-items-center text-center">

          <div class="col-md-3 job">
              <img id="maptek-logo" class="company-logo left-small-right-big" src="https://www.maptek.com/images/core/Maptek_Logo_OpenGraph_360x200.png">
              <br>
              <h3 class="clear left-small-right-big">Maptek</h3>
              <br>
              <p class="clear left-small-right-big">Summer Intern (Software Engineering)
                  <br>2020 Summer</p>
          </div>
          <div class="col-md-9 job-description">
              <p class="left">Worked on the Eureka team to deliver a 3D visualisation tool for generating models of geological subsurface stratigraphy.

              </p>
              <ul class="left">
                  <li>
                      Steamlined the vein modelling process, reducing model generation times from ~2 minutes to 10 seconds and reducing functional clicks from ~30 to 5
                  </li>
                  <li>
                      Extended modelling capabilities to add additional custom CAD data, improved default extents and made solid models interactively customisable
                  </li>
              </ul>
          </div>

          <div class="col-md-3 job google-job">
              <img id="google-logo" class="company-logo left-small-right-big" src="http://pluspng.com/img-png/google-logo-png-open-2000.png">
              <br>
              <h3 class="clear left-small-right-big">Google</h3>
              <br>
              <p class="clear left-small-right-big">Software Engineering Intern
                  <br>2019 Fall</p>
          </div>
          <div class="col-md-9 job-description google-job">
              <p class="left">Completed Survey Manager - a project to organise, collate and make accessible the team's survey data and configurations.

              </p>
              <ul class="left">
                  <li>
                      Redesigned the storage structures used to maintain surveys and configurations
                  </li>
                  <li>
                      Consolidated and centralised over 5 years of survey data into a single database
                  </li>
                  <li>
                      Provided new functionality to view and search through surveys by implementing a full stack web application
                  </li>
              </ul>
          </div>

          <div class="col-md-3 job cea-job">
                  <img class="company-logo left-small-right-big" src="static/images/cea-logo.png">
              <br>
              <h3 class="clear left-small-right-big">CEA Technologies</h3>
              <br>
              <p class="clear left-small-right-big">Software Engineering Intern
                  <br>2018/19 Summer</p>
          </div>
          <div class="col-md-9 job-description cea-job-description">
              <p class="left">Developed a graphical user interface tool to calibrate phased-array radars and produce meaningful data visualisations. Consulted with technicians and engineers to elicit project requirements.</p>
              <ul class="left">
                  <li>Reduced calibration times from a day to minutes</li>
                  <li>Eliminated the requirement of an engineer's involvement in the calibration process</li>
                  <li>Improved personal coding skills and style by adopting strict quality standards</li>
              </ul>
          </div>

          <div class="col-md-3 job">
              <img class="company-logo adelaide-logo left-small-right-big" src="static/images/adelaide-uni-logo.png">
              <br>
              <h3 class="clear left-small-right-big">University of Adelaide</h3>
              <br>
              <p class="clear left-small-right-big">Teaching Assistant
                  <br>2017 - 2018</p>
          </div>
          <div class="col-md-9 job-description">
              <p class="left">Conducted tutorial sessions, supervising practicals and assessments to assist the delivery of university subjects including<i>Introduction to Process Engineering</i>and<i>Introduction to Programming for
          Engineers.</i></p>
              <ul class="left">
                  <li>Developed public speaking skills</li>
                  <li>Enhanced ability to explain technical concepts</li>
              </ul>
          </div>

          <div class="col-md-3 job">
              <img class="company-logo saab-logo left-small-right-big" src="https://www.carlogos.org/logo/Saab-logo-2000-1280x1024.png">
              <br>
              <h3 class="clear left-small-right-big">SAAB Technologies</h3>
              <br>
              <p class="clear left-small-right-big">Project Assistant
                  <br>2017/18 Summer</p>
          </div>
          <div class="col-md-9 job-description saab-description">
              <p class="left">Worked with the Civil Solutions team to deliver a OneView security system for the Brisbane Youth Detention Centre. Procured and organised a spreadsheet of 8000+ project static and installed equipment for FAT testing.
              </p>
              <ul class="left">
                  <li>Consolidated warehouse supplies with digital inventories</li>
                  <li>Configured and tested site technology (CCTV cameras, zero clients, routers)</li>
                  <li>Identified malfunctioning equipment and negotiated with suppliers for replacements</li>
              </ul>
          </div>
      </div>
    </div>
      </section>



      <section class="section projects" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Projects</h2>
            <div class="line-dec"></div>
          </div>

          <div class="row text-center">
            <div class="col-12">
                <h2>Football Results Automation Tool</h2>
                <hr class="project-header-hr">
            </div>

            <div class="col-md-5 text-center">
                <h3 class="center">Problem</h3>
                <p class="left">Manual process required 1-2 hours of work every week.
                    <br><br>Whilst compiling the football club's weekly newsetter for the roughly 2000 subscribers, time-consuming manual information collation and styling was required. This involved finding and presenting information relevant to match
                    results, game times, oppositions, locations, dates etc... for each of the 9 teams.
                </p>
            </div>
            <div class="col-md-5 text-center left-divider right-divider">
                <h3 class="center">Solution</h3>
                <p class="left">Reduces time to complete task from 2-3 hours down do approximately 20 seconds. Greatly improves visual display.
                    <br><br>The Football Results Automation Tool is a web application uses Google's Puppeteer API alongside Headless Chrome to automatically find and extract all information relevant to the club's weekly results.
                    <br>It also provides a rich display which is directly portable into the MailChimp emailing service.
                </p>
            </div>
            <div class="col-md-2 text-center">
                <h3 class="center">Technologies</h3>
                <ul class="technology-list">
                    <li><img class="technology-logo" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"></li>
                    <li><img class="technology-logo" src="https://i-love-png.com/images/html5_12897.png"></li>
                    <li><img class="technology-logo" src="http://verekia.com/_pages/css3/introduction-css3/img/css3-logo.png">
                    </li>
                    <li><img class="technology-logo" src="https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_960_720.png"></li>
                    <li><img class="technology-logo" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Chromium_Material_Icon.png"></li>
                    <li><img class="technology-logo" src="https://developers.google.com/web/tools/images/puppeteer.png" id="puppeteer-logo"></li>
                </ul>
            </div>
        </div>

        <div class="row-1 text-center">
            <a href="http://holdyourbowlies.com" style="display:none" target="_blank" class="btn btn-primary demo-button">Demo</a>
        </div>

        <div class="row text-center project-row">
          <div class="col-12">
              <h2>SQL Interactive Visualisation</h2>
              <hr class="project-header-hr">
          </div>
          <div class="col-md-5 text-center">
              <h3 class="center">Problem</h3>
              <p>ETL (extract, transform, load) processes can involve the execution of many successive database queries. The complexity of these processes increases rapidly with incremental additions and the ability for a developer to understand the high level architecture diminishes when relying on only SQL scripts.</p>
          </div>
          <div class="col-md-5 text-center left-divider right-divider">
              <h3 class="center">Solution</h3>
              <p>SQL Interactive Visualisation takes SQL scripts as input and parses the SQL to generate an abstract syntax tree. The AST is then traversed to extract a graph data structure of the collated SQL scripts. This graph is then visualised using an interactive flow chart. This ultimately allows developers to easily obtain high level insights from complicated ETL processes.
              </p>
          </div>
          <div class="col-md-2 text-center">
              <h3 class="center">Technologies</h3>
              <ul class="technology-list">
                  <li>
      <img alt="Java" src="static/images/java.png" style="width:50px;">     
                  </li>
                  <li><img class="technology-logo" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"></li>
                  <li><img class="technology-logo" src="https://raw.githubusercontent.com/d3/d3-logo/master/d3.png">
                  </li>
                  <li><img class="technology-logo" src="https://ahana.io/wp-content/uploads/2020/06/prestodb-450.png">
                  </li>
              </ul>
          </div>
      </div>

    <a href="sql_visualisation" target="_blank"><button class='demo-button'>Demo</button></a>

        <div class="row text-center project-row">
            <div class="col-12">
                <h2>Radar Calibration Tool</h2>
                <hr class="project-header-hr">
            </div>
            <div class="col-md-5 text-center">
                <h3 class="center">Problem</h3>
                <p class="left">Error-prone, labour-intensive and unscalable calibration process required a day to complete.
                    <br><br>At CEA Technologies, the previous process for calibrating phased-array radars involved using a set of MATLAB scripts to process experimental data. These scripts were required to be ammended for each different variation of calibration
                    which resulted highly error-prone and caused rapid code degradation. The process required a technician to email the experimental results to an engineer who would process the results using the MATLAB scripts and return to the technician
                    for troubleshooting, taking approximately 1 day in total.
                </p>
            </div>
            <div class="col-md-5 text-center left-divider right-divider">
                <h3 class="center">Solution</h3>
                <p class="left">Completely eliminated the requirement of an engineer in the calibration process and reduced calibration times from a day to just minutes.
                    <br><br>The Radar Calibration Tool provided a comprehensive graphical user interface used to configure calibration parameters, eliminating the need to modify code for each calibration.
                    <br>The tool also provided various data visualisations of the calibration result including 3D spatial plotting and heat maps. These allowing technicians to quickly and more easily understand and diagnose problems.
                </p>
            </div>
            <div class="col-md-2 text-center">
                <h3 class="center">Technologies</h3>
                <ul class="technology-list">
                    <li><img class="technology-logo" src="https://1000logos.net/wp-content/uploads/2017/06/Windows-Logo.png"></li>
                    <li><img class="technology-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    </li>
                    <li><img class="technology-logo" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Qt_logo_2016.svg">
                    </li>
                    <li><img class="technology-logo" src="https://vignette.wikia.nocookie.net/logopedia/images/2/24/Visual_studio_2017.png/revision/latest/scale-to-width-down/300?cb=20190513213134">
                    </li>
                    <li><img class="technology-logo" src="https://cdn.worldvectorlogo.com/logos/subversion.svg"></li>
                    <li>GTEST</li>
                </ul>
            </div>
        </div>

        </div>
      </section>

      <section class="section volunteering" data-section="section5">
        <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-12 section-heading">
                <h2>Volunteering and Extra-Curricular</h2>
              <div class="line-dec"></div>
                <hr>
            </div>
        </div>
  
        <div class="row align-items-center text-center">
  
            <div class="col-md-4">
                <div class="au-sport-logo-container company-logo left-small-right-big">
                    <img class="company-logo left-small-right-big" src="static/images/au-sport.png">
                </div>
                <br>
                <h3 class="clear left-small-right-big">Adelaide University Sport</h3>
                <p class="clear left-small-right-big">Board Member - Student Representative
                    <br>Intervarsity Football Vice Captain</p>
            </div>
  
            <div class="col-md-4">
                <img class="company-logo left-small-right-big" src="https://upload.wikimedia.org/wikipedia/en/4/45/Adelaide_University_Football_Club_Logo.png">
                <br>
                <h3 class="clear left-small-right-big">Adelaide University Football Club</h3>
                <br>
                <p class="clear left-small-right-big">Div 1 A Grade Player
                    <br>Executive Committee Member 2017-18</p>
            </div>
  
            <div class="col-md-4">
                <img class="company-logo left-small-right-big" src="http://lofrev.net/wp-content/photos/2016/06/red_cross_logo.png">
                <br>
                <h3 class="clear left-small-right-big">Red Cross Blood Service</h3>
                <br>
                <p class="clear left-small-right-big">10+ donations of blood and plasma</p>
            </div>
  
        </div>
  
        <div class="row align-items-center text-center justify-space-around">
  
            <div class="col-md-4">
                <img id="uni-games-logo" class="company-logo left-small-right-big" src="https://upload.wikimedia.org/wikipedia/en/d/d8/Uni_Games_logo.png">
                <br>
                <h3 class="clear left-small-right-big">Australian Uni Games</h3>
                <p class="clear left-small-right-big">Athlete Competitor</p>
            </div>
  
            <div class="col-md-4">
                    <img id="marathon-logo" class="company-logo left-small-right-big" src="static/images/sarrc.png">
                <br>
                <p class="clear left-small-right-big">Marathon Competitor
                    <br>Research project completed:
                    <br><i>"Effective Training Methods for a First Marathon"</i></p>
            </div>
  
        </div>
  
          </div>
        </section>

      <section class="section contact-me" data-section="section6">
        <div class="container">
          <div class="section-heading">
            <h2>Contact Me</h2>
            <div class="line-dec"></div>
          
              <table class="contact-info">
                <tr>
                  <td><i class="fa fa-phone"></i></td>
                  <td>+61409739308</td>
                </tr>
                <tr>
                  <td><i class="fa fa-envelope"></i></td>
                  <td>jack.t.dearing@gmail.com</td>
                </tr>
                <tr>
                  <td><i class="fa fa-map-marker"></i></td>
                  <td>9 Kirra Avenue,<br>
                      West Lakes Shore,<br>
                      5020, South Australia<br>
                  </td>
                </tr>
              </table>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <script src="static/js/isotope.min.js"></script>
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/lightbox.js"></script>
    <script src="static/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
